@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
}

@layer components {
  .inputs {
    @apply w-full rounded-xl px-3 pb-3 pt-7 bg-inputbg text-white focus:bg-white focus:text-black outline-none transition-all
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
